$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.tooltip {
  white-space: nowrap;
}

// mixins //

@mixin box-shadow($top, $left, $blur, $color) {
  -moz-box-shadow: ($top) ($left) ($blur) ($color);
  -webkit-box-shadow: ($top) ($left) ($blur) ($color);
  box-shadow: ($top) ($left) ($blur) ($color);
}

@mixin transform-rotate($deg) {
  -moz-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transition($property, $time, $easing) {
  -moz-transition: ($property) ($time) ($easing);
  -webkit-transition: ($property) ($time) ($easing);
  transition: ($property) ($time) ($easing);
}

@mixin border-radius($radius) {
  -moz-border-radius: ($radius);
  -webkit-border-radius: ($radius);
  border-radius: ($radius);
}

// end mixins //

html,
button,
input,
select,
textarea {
  color: #222;
}

html, body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

body {
  font-size: 1em;
  line-height: 1.4;
  font: 16px/26px "jaf-facitweb", Helvetica, Arial;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

.header-container {
  font-family: "jaf-facitweb", Helvetica, Arial;
  text-shadow: 1px 1px 1px #ffffff;
  position: fixed;
  width:100%;
  z-index:999;
  background: rgba(221, 221, 217, 1.0);
  visibility: hidden;
  overflow: hidden;
  height: 60px;
  @include transition(height, 0.25s, linear);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  &:hover {
    height: 250px;
  }
}

.footer-container {
  background: rgb(32, 32, 30);
  height: auto;
  min-height: 300px;
  text-align: center;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
  footer {
    color: white;
    padding: 20px 0;
  }
  .bg {
    position: absolute;
    background: url(../images/instruments.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    width: 100%;
    top: 0;
    height: 100%;
  }
}

.title {
  color: #181818;
  top: 10px;
  font-size: 20px;
  text-align: center center;
  margin-top: 10px;
}

/* ==============
    MOBILE: Menu
   ============== */
.logo-nav {
  background: url(../images/logo-nav.png) no-repeat;
  width: 300px;
  height: 40px;
  top: 17.5px;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #101010;
    &:hover,&:visited {
      color: #101010;
    }
    &:hover {
      text-decoration: none;
      background: #e6e6e6;
      box-shadow: inset 1px 1px 3px #CCC;
      color: #578c24;
    }
  }
}

/* ==============
    MOBILE: Main
   ============== */

.main {
  position: relative;
  h1 {
    color: #F2F2F2;
    font-family: "jaf-facitweb", Helvetica, Arial;
    font-weight: 200;
    text-align: center;
    top: 30px;
    position: relative;
    font-size: 4em;
    border-bottom: 3px solid #578c24;
    padding-bottom: 30px;
    display: block;
    width: 295px;
    margin: 0 auto;
  }
  padding: 30px 0;
  article {
    margin: 60px auto;
    p {
      padding: 0 20px 6px 20px;
    }
    .icon-small {
      background: #9aa18c;
      float:left;
      position: relative;
      top: 12px;
      @include border-radius(50%);
      height: 36px;
      width:36px;
      line-height: 36px;
      color: #e8e9e4;
      font-size: 16px;
      @include transition(all, .1s, linear);
      text-align: center;
      margin-right: 10px;
      &.bh-icon{
        &:hover {
          @include transform-rotate(50deg);
          @include box-shadow(2px, 2px, 0px, #6e7464);
          margin-top: -2px;
        }
        &:active {
          @include transform-rotate(0deg);
          margin-top: auto;
          box-shadow: none;
        }
        &:before {
          content: "BH";
        }
      }
      &.ny-icon{
        &:hover {
          @include transform-rotate(50deg);
          @include box-shadow(2px, 2px, 0px, #6e7464);
          margin-top: -2px;
        }
        &:active {
          @include transform-rotate(0deg);
          margin-top: auto;
          box-shadow: none;
        }
        &:before {
          content: "NY";
        }
      }
    }
    section {
      @extend header;
      margin-top: 30px;
    }
    header {
      background: #F2F2F2;
      padding: 10px;
      @include border-radius(5px);
    }
    aside {
      color: white;
      padding: 0px 5% 10px;
    }
    h1 {
      font-size: 2em;
    }
  }
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

span {
  color: #578c24;
}

h2 {
  color: #578c24;
}

h3 {
  margin-bottom: 20px;
}

article {
  margin-top: 100px;
}

.hide-button {
  position: absolute;
  right: 15px;
  top: 12.5px;
  width: 30px;
  height: 30px;
  tect-align: center center;
  font-size: 40px;
  font-weight: 600;
  color: #578c24;
  padding-left: 2px;
  cursor: pointer;
}


.top-bg {
  position: fixed;
  background: url(../images/blend.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  height: 288px;
  width: 100%;
  top: 0;
  &.hide {
    display: none;
  }
}

.intro-container {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 10% 0 10% 0;
}

.color-split {
  width: 100%;
  height: 288px;
  position: relative;
  z-index: 2;
}

.logo {
  width:300px;
  height: auto;
  position: absolute;
  left:50%;
  background: url(../images/logo-mobile.png) no-repeat;
  background-size: 100%;
  margin: 30px auto 0 -150px;
  ul {
    list-style: none;
    margin: 150px auto auto auto;
    white-space: nowrap;
    border-top: 2px solid #578c24;
    text-align: center;
    li {
      display: inline-block;
      padding: 10px 7%;
      font-size: 14px;
      a {
        color: #578c24;
        padding-bottom: 2px;
        &:hover {
          text-decoration: none;
          color: white;
          border-bottom: 3px solid #578c24;
        }
      }
    }
  }
}

.caption {
  color: #708555;
  position: relative;
  top:140px;
  font-size: 14px;

}

.icon-clearfix {
  width: 80%;
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left:-40%;
  top: 250px;
  a {
    background: #9aa18c;
    @include border-radius(50%);
    height: 60px;
    width:60px;
    margin-bottom: 10px;
    line-height: 60px;
    color: #e8e9e4;
    font-size: 26px;
    border: 4px solid #fff;
    text-align: center;
    @include transition(all, .1s, linear);
    &:hover {
      @include transform-rotate(50deg);
      @include box-shadow(3px, 3px, 0px, #6e7464);
      margin-top: -3px;
    }
    &:active {
      @include transform-rotate(0deg);
      margin-top: auto;
      box-shadow: none;
    }
    &.beverly {
      float: left;
    }
    &.new-york {
      float: right;
    }
  }
  &:hover {
    a {
      color: #e8e9e4;
      text-decoration: none;
    }
  }
}

.mission-statement {
  text-align: center center;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 1px 1px 1px white;
  margin-bottom: 0;
}

.main-container {
  background: #33382f;
  position: relative;
  .bg {
    position: fixed;
    background: url(../images/mixboard.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 0;
  }
}

.work-container {
  width: 100%;
  position: relative;
  padding: 60px 0 60px 0;
  z-index: 1;
  background: #fff;
  h1 {
    color: #383d35;
    font-family: "jaf-facitweb", Helvetica, Arial;
    font-weight: 200;
    text-align: center;
    position: relative;
    font-size: 4em;
    border-bottom: 3px solid #578c24;
    padding-bottom: 30px;
    display: block;
    width: 295px;
    margin: 0px auto -17px auto;
  }
}

.work-bg {
  width: 100%;
  height: 100%;
  background: url(../images/buildings.png) no-repeat #F2F2F2;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: fixed;
  opacity: 0.15;
  top: 0;
  left: 0;
  z-index: 1;
}


.work-words {
  text-align: left;
  margin: 40px 10px 0px 10px;
}

.button {
  color:  #578c24;
  border: 2px solid #578c24;
  text-align: center;
  width: 120px;
  position: relative;
  padding: 15px 20px 15px 20px;
  margin: 10px;
  font-size: 20px;
  top: 20px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  left:0px;
  overflow: hidden;
  height: auto;
  -webkit-transition: max-height 0.35s ease-in;
  max-height: 40px;
  &.location  {
    color: white;
    border: 2px solid white;
    span {
      font-size: 14px;
      position: relative;
      top: 10px;
      color: #333;
      display: none;
      a {
        color: #578c24;
      }
    }
    &:hover, &.is-toggled {
      color: #578c24;
      border: 2px solid white;
      background: white;
      max-height: 200px;
      span {
        display: block;
      }
    }
  }
  &:hover {
    color: white;
    background: #578c24;
    text-decoration: none;
  }
}

.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 0.35s;
  -webkit-animation-duration: 0.35s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes slideRight {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes fadeout { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

.fadeOut {
  display: inline;
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeOut ease-in 1;
  -moz-animation:fadeOut ease-in 1;
  animation:fadeOut ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  animation-duration:.5s;

}

.tossing{
  animation-name: tossing;
  -webkit-animation-name: tossing;

  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}

.floating{
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.pulse{
  animation-name: pulse;
  -webkit-animation-name: pulse;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    ransform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
  }
  50% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 500px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
  nav {
    a {
      float: left;
      width: 27%;
      margin: 0 1.7%;
      padding: 20px 2%;
      margin-bottom: 0;
    }
    li:first-child a {
      margin-left: 0;
    }
    li:last-child a {
      margin-right: 0;
    }
  }

  .mission-statement {
    text-align: center center;
    font-size: 22px;
    font-weight: 600;
  }

  .one {
    width: 35px;
    height: 35px;
    bottom: 10px;
    right: 90px;
  }

  .two {
    bottom:75px;
    right: 120px;
  }

  .three {
    bottom: 80px;
    right: 40px;
    width: 60px;
    height:60px;
  }

  .four {
    bottom: 30px;
    right: 20px;
    height: 20px;
    width: 20px;
  }

  .five {
    bottom: 20px;
    left: 20px;
    height: 70px;
    width: 70px;
  }

  .six {
    bottom: -40px;
    left: 80px;
    height: 30px;
    width: 30px;
  }

  .seven {
    bottom: -20px;
    left: 30px;
    height: 15px;
    width: 15px;
  }

  .eight {
    top: 150px;
    left: 130px;
    height: 40px;
    width: 40px;
  }

  .nine {
    top: 150px;
    left: 80px;
    height: 10px;
    width: 10px;
  }

  .ten {
    top: 100px;
    left: 230px;
    height: 60px;
    width: 60px;
  }

  .eleven {
    height: 20px;
    width: 20px;
    top: 100px;
    left: 170px
  }

  .header-container{
    background: rgba(221, 221, 217, 1.0);
    visibility: hidden;
    overflow: hidden;
    height: 60px;
    @include transition(height, 0.25s, linear);
    &:hover {
      height: 150px;
    }
  }

  .logo {
    width:500px;
    height: inherit;
    position: absolute;
    left:50%;
    background: url(../images/logo.png) no-repeat;
    background-size: contain;
    margin: 100px auto 0 -250px;
    ul {
      margin: 40px auto auto auto;
      border-top: 2px solid #578c24;
      li {
        font-size: 16px;
        padding: 10px 9%;
      }
    }
  }

  .logo-nav {
    float: none;
  }

  .button {
    color:  #578c24;
    border: 2px solid #578c24;
    text-align: center;
    width: 120px;
    position: relative;
    padding: 15px 20px 15px 20px;
    margin: 10px;
    font-size: 20px;
    top: 20px;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    left:0px;
    overflow: hidden;
  }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 840px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

/* ============
    WIDE: Menu
   ============ */

  .title {
    float: left;
  }

  .logo-nav {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }

/* ============
    WIDE: Main
   ============ */

  .main {
    article {
      display: block;
      width: 57%;
      margin: 60px auto;
    }
  }

  .mission-statement {
    text-align: center center;
    font-size: 28px;
    line-height: 1.3;
    font-weight: 600;
  }

  .header-container{
    background: rgba(221, 221, 217, 1.0);
    visibility: hidden;
    overflow: hidden;
    height: 60px;
    @include transition(height, 0.5s, linear);
    &:hover {
      height: 60px;
    }
  }

  .hide-button {
    display: none;
  }

  .logo {
    width:800px;
    height: inherit;
    position: absolute;
    left:50%;
    background: url(../images/logo.png) no-repeat;
    background-size: contain;
    margin: 100px auto 0 -400px;
    ul {
      margin: 70px auto;
      border-top: 3px solid #578c24;
      li {
        padding: 20px 10%;
        font-size: 20px;
      }
    }
  }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
  .mission-statement {
    text-align: center center;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 600;

  }

  .logo {
    width:800px;
    height: inherit;
    position: absolute;
    left:50%;
    background: url(../images/logo.png) no-repeat;
    background-size: contain;
    margin: 100px auto 0 -400px;
  }

  .icon-clearfix {
    top: 250px;
  }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

/*
 * Don't show links for images, or javascript/internal links
 */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media only screen and (max-device-width: 480px) {
  .logo-nav {
    background: url(../images/logo-nav.png) no-repeat;
    background-size: 100%;
    width: 240px;
    height: 20px;
    top: 20px;
    position: relative;
    margin-bottom: 20px;
  }
}


